.sidebar {
    background-color: var(--bg-color);
    -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.6);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.6);

    & > .logo-wrapper {
        height: 60px;
        padding: 12px;

    }

    & > nav {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}